.Home{
    width: 100%;
    height: 100%;
    margin: auto;
    background-size:100% 100%;
   background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url('../public/images/background.jpg');
}
.Web_App{
    animation: loading .3s linear forwards;
}
@keyframes loading{
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  } 
